arxiv
gradio
pymupdf
requests
supabase
pgvector
wikipedia
python-dotenv
huggingface_hub
sentence-transformers

langchain
langgraph
langchain-core
langchain-groq
langchain-tavily
langchain-chroma
langchain-community
langchain-huggingface
langchain-google-genai